.our-clients {
  text-align: center;
  letter-spacing: 00.06em;

  &__list {
    padding-top: 30px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  &__client {
    width: 210px;
    height: 92px;
    fill: getfillcolor(bombay);
    border: 1px solid getbrdcolor(bombay);
    border-radius: 4px;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: getfillcolor(dodger-blue);
      border: 1px solid getbrdcolor(dodger-blue);
      cursor: pointer;
    }
  }

  h2 {
    font-size: 28px;
  }
}

@media screen and (min-width:768px) {
  .our-clients {
    &__client {
      width: 226px;
    }
  }
}

@media screen and (min-width:1200px) {
  .our-clients {
    &__list {
      padding-top: 50px;
    }

    &__client {
      width: 170px;
    }

    h2 {
      font-size: 36px;
    }
  }
}